<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>MyScene</string>
	<key>Description</key>
	<string>This generates a new scene using MVVM architecture. It consists of the view controller, viewModels, Services, and routes. You can then create individual Coordinator and Model</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>BaseCoordinator</string>
			<key>Description</key>
			<string>Base coordinator name</string>
			<key>Identifier</key>
			<string>BaseCoordinatorName</string>
			<key>Name</key>
			<string>Base Coordinator Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>BaseCoordinator</string>
			<key>Description</key>
			<string>Base coordinator name</string>
			<key>Identifier</key>
			<string>BaseCoordinatorName</string>
			<key>Name</key>
			<string>Base Coordinator Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>BaseCoordinator</string>
			<key>Description</key>
			<string>Base coordinator name</string>
			<key>Identifier</key>
			<string>BaseCoordinatorName</string>
			<key>Name</key>
			<string>Base Coordinator Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>0</string>
	<key>Summary</key>
	<string>This generates a new scene using MVVM architecture.</string>
</dict>
</plist>
